.main {
  width: 250pt;
  height: 400pt;
  background: linear-gradient(0deg, rgba(222,4,142,1) 0%, rgba(73,18,82,1) 38%, rgba(0,0,0,1) 100%);
}

.tournaments {
  padding: 10pt;
  font-size: xx-large;
  color: white;
  display: flex;
}

.mainHeader {
  background-color: white;
  color: rgba(73,18,82,1);
  height: 40pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  height: 30pt
}

.accordionContent {
  padding: 0pt;
}

.addButton {
  background-color: rgba(73,18,82,1);
  color: white;
  border-color: transparent;
}

.name {
  color:#491252
}

.team {
  color:#491252
}


.container {
  height: 100%;
  overflow-y: auto;
}

.collapsible {
  padding: 5pt 10pt;
  margin: 5pt 0pt;
  background-color: white;
  font-size: large;
  border-radius: 3pt;
}
.details {
  color:black;
  font-size: medium;
}
